h3 {
font-size: 30px;
}

#overlay {
    background: url("/images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 100%;
	min-height: 100%;
    z-index: 2;
}


input[type="text"], input[type="email"],input[type="button"], textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    border-radius: 0;
    box-shadow: none;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 16px 20px;
    transition: all 0.3s ease 0s;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #6DC5EA;
    outline: medium none;
}

input[type="button"] {
	font-weight: bold;
	font-size: 22px;
	padding: 13px 16px;
   
}

#error {
	color:orange;
}

.time-form {
	width:425px;
	margin:auto;
}
.time-wrapper {
	width:135px;
	margin-right: 20px;
	float: left;
}

.minute-wrapper {
	width:90px;
	margin-right: 20px;
	float: left;
}

.button-wrapper {
	padding-top: 20px;
}

.time-input {
	width: 95px;
	float: left;
	margin-right: 15px;
}

.minute-input {
	width: 50px;
	float: left;
	margin-right: 15px;
}

/*---------- General ----------*/
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
    background-color: #fff;
	margin: 0px;
}
html {
    width: 100%;
    height: 100%;
}
a {
    color: #bf6060;
    -o-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
}
a:hover,
a:focus {
    color: #7f4040;
    text-decoration: none;
}
.margin-top-15px {
    margin-top: 15px;
}
.spacer-25px {
    height: 25px;
}
.spacer-50px {
    height: 50px;
}


#intro {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro-body {
	display: table-cell;
	vertical-align: middle;
	padding: 75px 0 40px 0;
}
.intro-body h1 > a {
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	padding: 25px 45px;
	margin-bottom: 30px;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-radius: 85px;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.intro-body h1 > a:hover {
	color: #ffc0c0;
	border: 2px solid #ffc0c0;
}
.intro-body h2 {
	font-size: 46px;
	font-weight: 100;
	margin-top: 30px;
	letter-spacing: 2px;
}
.intro-body p {
	margin: 40px 0 10px 0;
	padding: 0 320px;
	font-size: 22px;
	line-height: 36px;
}

.timer {
    margin-top: 60px;
	width:500px;
	margin:auto;
}
.timer .time-wrapper {  
	border: 1px solid #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin: 0 10px;
    padding: 25px;
    transition: all 0.3s ease 0s;
    font-size: 80px;
    font-weight: 100;
    line-height: 90px;
	width: 430px
}

